@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* font-family: 'Inter', sans-serif; */

/* 
var(---primary--main-background);
var(---primary--card-background);
var(---primary--soft-violet);
var(---neutral--main-paragraph);
var(---neutral--main-paragraph);
var(---neutral--stats-heading);

 */

:root {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    ---primary--main-background: hsl(233, 47%, 7%);
    ---primary--card-background: hsl(244, 38%, 16%);
    ---primary--soft-violet: hsl(277, 64%, 61%);
    ---neutral--main-paragraph: hsla(0, 0%, 100%, 0.75);
    ---neutral--stats-heading: hsla(0, 0%, 100%, 0.6);
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    margin: 0;
    background-color: var(---primary--main-background);
}

.card-container {
    background-color: var(---primary--card-background);
    text-align: center;
    max-width: 25rem;
    border-radius: 10px 10px 10px 10px;
}

TODO
/* BACKGROUND IMAGE URL FIX WITH PURPLE OVERLAY COLOR*/

.hero-image {
    background: url('images/image-header-mobile.jpg') 0 0 no-repeat fixed;
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
